.DS_Store
.stfolder
.venv
.venv*
todo.txt
notes.txt
todo-ports.txt
.stignore
sets/*.mset
sets/*.seq
samples/*
backups/*
boot.set
boot.conf
*.mset
*.seq
experiments/sets/*.mset
experiments/sets/*.seq
Desktop.ini
NOTES.md
TODO.md
__pycache__
embliss/experiments/*.syx