# sudo ln -s /home/patch/repos/emsys/em_clock.service /etc/systemd/system/em_clock.service
# sudo systemctl daemon-reload && sudo systemctl enable em_clock && sudo systemctl restart em_clock

[Unit]
Description=emsys_clock
After=network.target

[Service]
Type=simple
User=patch
WorkingDirectory=/home/patch/repos/emsys
ExecStart=/home/patch/repos/emsys/.venv/bin/python3 /home/patch/repos/emsys/clock.py 'Midi Through' 'Pure Data Midi-Out 1'
Restart=always

[Install]
WantedBy=multi-user.target