[Unit]
Description=emsys

[Service]
ExecStart=/usr/bin/bash -c "export DISPLAY=:0.0 && /home/patch/repos/emsys/emsys.sh"
Restart=on-failure
Type=forking

[Install]
WantedBy=graphical-session.target
