[Unit]
Description=Pure Data Patch
After=network.target

[Service]
ExecStart=/home/pi/repos/emsys/start.sh
Restart=always
User=pi
WorkingDirectory=/home/pi/repos/emsys
LimitRTPRIO=99
LimitMEMLOCK=infinity

[Install]
WantedBy=multi-user.target
