# sudo ln -s /home/patch/repos/emsys/midi_setup.service /etc/systemd/system/midi_setup.service
# sudo systemctl daemon-reload && sudo systemctl enable midi_setup && sudo systemctl restart midi_setup

[Unit]
Description=emsys
After=network.target

[Service]
ExecStart=/home/patch/repos/emsys/midi_setup.sh
WorkingDirectory=/home/patch/repos/emsys
StandardOutput=inherit
StandardError=inherit
Restart=always
User=patch

[Install]
WantedBy=multi-user.target