# sudo ln -s /home/patch/repos/emsys/seq64.service /etc/systemd/system/seq64.service
# sudo systemctl daemon-reload && sudo systemctl enable seq64 && sudo systemctl start seq64

[Unit]
Description=seq64

[Service]
ExecStart=/home/patch/Applications/sequencer64/Seq64cli/seq64cli
WorkingDirectory=/home/patch/Applications/sequencer64/Seq64cli
StandardOutput=inherit
StandardError=inherit
Restart=always
User=patch

[Install]
WantedBy=multi-user.target
