[Unit]
Description=Notify System Boot with Pisound LEDs
After=multi-user.target

[Service]
ExecStart=/home/patch/repos/emsys/serv/boot_notify.sh
Type=oneshot

[Install]
WantedBy=multi-user.target

# sudo ln -s /home/patch/repos/emsys/serv/boot_notify.service /etc/systemd/system/boot_notify.service