[Unit]
Description=emsys_clock
After=sound.target midi.target

[Service]
Type=simple
WorkingDirectory=/home/patch/repos/emsys
ExecStartPre=/usr/bin/sleep 5
ExecStart=/home/patch/repos/emsys/.venv/bin/python /home/patch/repos/emsys/serv/em_clock.py
Restart=always
#LimitMEMLOCK=infinity
#LimitRTPRIO=99

[Install]
WantedBy=multi-user.target

# sudo systemctl daemon-reload && sudo systemctl enable /home/patch/repos/emsys/serv/em_clock.service
