[Unit]
Description=emsys PD Controller
After=sound.target midi.target

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 3
ExecStart=/home/patch/repos/emsys/.venv/bin/python /home/patch/repos/emsys/serv/em_pd_controller.py
WorkingDirectory=/home/patch/repos/emsys
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target

# sudo systemctl daemon-reload && sudo systemctl enable /home/patch/repos/emsys/serv/em_pd_controller.service
