# sudo ln -s /home/patch/repos/emsys/serv/em_sys.service /home/patch/.config/systemd/user/em_sys.service
# systemctl --user daemon-reload && systemctl --user enable em_sys && systemctl --user start em_sys

[Unit]
Description=em_sys
After=sound.target midi.target

[Service]
Type=simple
EnvironmentFile=/home/patch/.myenv
WorkingDirectory=/home/patch/repos/emsys
ExecStartPre=/usr/bin/sleep 10
ExecStart=/home/patch/repos/emsys/serv/em_sys.sh
Restart=always
#LimitMEMLOCK=infinity
#LimitRTPRIO=98

[Install]
WantedBy=default.target
